@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: 'JetBrains Mono';
}

.text_shadow {
	text-shadow: 0px 0px 1.5px rgb(255, 255, 69);
}

.wrapper {
	max-width: 1250px;
	min-height: 100%;
	margin: 0px auto;
	padding: 10px 15px;
}
